<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Buy From us</p>
                <div class="row">
                       <div class="col-md-6 col-12 hero-text ">
                        <figure>
                            <img src="images/about.svg" width="600px" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>We Import & Export</h1>
                        <h1>Everywhere</h1>
                        <p>Welcome to  <span class="font-weight-bold">Nidhi Impex</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur </p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>