<div class="container-fluid mt-5 contact-style" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading" >Contact Us</h1>
            <p class="text-center sub-heading">we will be happy to help you</p>
            <div class="row">
                <div class="col-md-6 col-12 mx-auto">
                    <form action="/contact" method="POST" >
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted" >We'll never share your email  </small>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" name="phone" id="phone" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="message">Message</label>
                        <input type="text" name="message" id="message" class="form-control">
                    </div>
                    
                    <button type="submit" class="btn-style btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>