<section>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14004.63174187618!2d77.20226803451334!3d28.654989368541337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd6a4419fdef%3A0xbcaad078970adaad!2sSadar%20Bazaar%2C%20New%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1626771704616!5m2!1sen!2sin"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>